.App {
  text-align: center;
  padding-top:50px;
}

.row>div{
  display: inline-block;
}

.field{
  width: 70px;
  height:70px;
}

.field.black{
  background: #5a5a5a;
}

.field.possible-move{
  background: pink;
}

.board {
  border: 1px solid #5a5a5a;
  display: inline-block;
  font-size: 0;
}

.soldier{
  width:40px;
  height: 40px;
  margin: 15px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius:100%;
  background: white;
}
.soldier.black{
  background: #b52929;
}
.soldier.active{
  background: yellow;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
